body {
    background-color: #111111;
}

.verse {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    text-align: center;
    color: #eeeeee;
    padding: 1em;
    padding-top: 3em;
}

#content {
    max-width: 640px;
    margin: auto;
}