@import url("https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu:wght@400;700&display=swap");
body {
  background-color: #111111;
}

/* https://coolors.co/2176ae-57b8ff-b66d0d-fbb13c-fe6847 */

p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  color: #dddddd;
}

header {
  text-align: center;
}

h1 {
  font-family: "Ubuntu", "Open Sans", sans-serif;
  font-size: 5em;
}

h2 {
  font-family: "Ubuntu", "Open Sans", sans-serif;
  font-size: 1.75em;
  margin: 0;
}



img {
  max-width: 100%;
}

#content {
  color: #eeeeee;
  max-width: 640px;
  margin: auto;
}

/* main */

.main-content {
  background-color: none;
}

.image-wrapper {
  background-color: none;
  padding: 20px;
}

.links {
  background-color: #005580;
  padding: 20px;
}

a,
a:visited {
  transition: 1s;
  color: #eeeeee;
}

a:hover {
  transition: 1s;
  color:#57B8FF;
}

.not-required,
.not-required a,
.not-required a:visited {
  opacity: 75%;
}

/* header */

header {
  margin-bottom: 25px;
}

.caption {
  display: block;
  font-family: "Lato", sans-serif;
  margin-top: -50px;
  font-size: 1.75em;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
}

.image-wrapper {
  margin: auto;
}

#profile-photo {
  max-width: 200px;
  margin: 1em;
  border-radius: 15em;
  border-style: solid;
  border-width: 2px;
  border-color: #eeeeee;
  margin: auto auto;
}

/* footer */

footer {
  display: block;
  text-align: center;
  padding: 3em;
}

#home-button {
  font-family: "Lato", sans-serif;
  padding: .5em;
  font-size: 1.25em;
  background-color:#eeeeee;
  color:#111111;
  text-align: center;
  border-radius: 15px;
  transition: 1s;
}

#home-button:hover {
  background-color: #57B8FF;
  transition: 1s;
}

/* footer-content */

footer {
  overflow: auto;
}

#footer-content {
  max-width: 100%;
  display: block;
}
