/* Media Query for medium+ views */
@media only screen and (min-width: 33em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}

	/* hide menu button */
	.nav-toggle {
		display: none;
	}

	/* preston */

	.forecast-icons-box img {
		display: flex;
	}

	.hide-on-small-view {
		display: block;
	}
}