/* Media Query for medium views */
@media only screen and (min-width: 640px) {
	#content {
    max-width: 840px;
		margin: auto;
    }

  #header-content {
		max-width: 840px;
		margin: auto;
    }

	#main-content {
		max-width: 840px;
		margin: auto;
    }
	
  #footer-content {
		max-width: 840px;
    display: grid;
  }


  /* directory */

  div.view-options {
    display: block;
    margin: auto;
    text-align: right;
  }

  .view-options button {
    font-size: 2em;
    padding: 10px;
  }

  .view-options button.activated {
    background-color: var(--absolute-zero);
    color: var(--almost-white);
  }

  /* cards view */

  #directory-cards.cards-view {
    grid-template-columns:  1fr 1fr;
  }
  
  /* cards list view */

  #directory-cards.list-view {
    grid-template-columns: 1fr;
  }

  #directory-cards.list-view section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #directory-cards.list-view section img {
    grid-column: 1/2;
    grid-row: 1/2;
  }

}

/* do not apply to LARGE */
@media only screen and (min-width: 640px) and (max-width: 1007px) {

  #content {
      margin: auto;
  }

  .cards.homepage {
      display: grid;
      grid-template-columns: 1fr;
      margin: auto;
      justify-content: center;
      align-items: center;
  }

  .cards.homepage section {
      width: 600px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      padding: 0;
      margin: auto;

  }

  .cards.homepage section img {
      padding: 0;
      margin: 0;
  }

  .cards.homepage section:nth-child(even) .img-wrapper {
      grid-column: 1/2;
      grid-row: 1/2;
  }
  
  .cards.homepage section:nth-child(odd) .img-wrapper {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .text-wrapper h2 {
    margin-top: -20px;
  }

  /* directory.html */





  /* ATTRIBUTION */

  .attribution-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  

}