@import url('https://fonts.googleapis.com/css2?family=Forum&family=Merriweather+Sans:wght@500&family=Merriweather:ital,wght@0,400;0,700;1,400;1,900&display=swap');

/* global */

:root {
	--viridian: #077D83;
	--celadon: #BEFFC7;
	--turquoise: #A9D8B8;
	--cambridge-blue: #A7C4B5;
    --absolute-zero: #0F46BD;
	--jet-black: #222222;

    --raisin-black: #272932;
    --steel-blue: #4D7EA8;
    --gray-web: #828489;
    --firebrick: #B3001B;
    --light-steel-blue: #B6C2D9;

    --almost-white: #ffffff;

	--title-font: 'Forum', 'Times New Roman', sans-serif;
	--heading-font: 'Merriweather Sans', 'Helvetica', sans-serif;
	--paragraph-font: 'Merriweather', 'Times New Roman', sans-serif;
}

/* IMAGES */

img {
	max-width: 100%;
    height: auto;
}

/* LAZY LOADING */

/* blur images with a data-src attribute */
img[data-src] {
    filter: blur(0.2em);
}

/* unblur those that do not */
img {
    filter: blur(0em);
    transition: filter 1.25s;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    
    overflow-y: scroll;
    overflow-x: hidden;

    background-color: var(--light-steel-blue);
    font-family: var(--paragraph-font);
    color: var(--jet-black);
}

/* keep content within viewport width */
#content,
#header-content,
main,
#footer-content {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    /*color: var(--jet-black);*/
    font-weight: 400;
    margin-bottom: 0;
}

h2, h3, h4 {
    font-size: 35px;
    padding: 5px;
}

p {
    font-size: 20px;
    padding: .5em;
    margin: .5em;
}

a, a:visited, a:hover {
    transition: 1s;
}

.hidden {
    display: none;
}

/* HEADER */

/* INDEX >> weather alert */

#weather-alert {
    margin: auto;
    text-align: center;
    background-color: var(--firebrick);
    color: var(--almost-white);
    height: 2em;
    display: flex;
}

#weather-alert button {
    float: right;
}

#weather-alert span {
    margin: auto auto;
}

#weather-alert.hidden {
    display: none;
}

/* SITEWIDE >> header */

header {
    margin-top: -11px;
    padding-top: 0px;
	color: var(--almost-white);
}

#header-content {
    margin: auto;
    background-color: var(--raisin-black);

}

header a:visited {
	color: var(--almost-white);

}

.upper-header {
	display: flex;
	align-items: center;
    margin-bottom: -20px;
}

#site-logo {
	max-width: 75px;
	padding: 10px;
}

.site-title {
	display: block;
	padding: .5em;
}

.site-title h2 {
	font-family: var(--title-font);
	font-size: 1.85em;
	margin: 0;
    margin-bottom: -.8em;
	margin-left: -.5em;
	padding: 0.5em;
    color: var(--almost-white);
}

.site-title h3 {
	font-family: var(--heading-font);
	font-weight: 400;
	font-size: 1.1em;
	margin: 0;
	margin-left: -1.65em;
	margin-top: -1em;
	padding: 0.5em;
    color:var(--almost-white);
}




/* SITEWIDE >> nav */

.nav-toggle {
    text-align: center;
    height: 1.5em;
    width: 1.5em;
    font-size: 2em;
    margin-right: .5em;
    margin-left: auto;
    font-family: var(--heading-font);

    background-color: var(--steel-blue);
    border-style: none;
    color: var(--almost-white);
    font-weight: bold;
    border-radius: 10px;

    transition: 1s;
}

.nav-toggle:hover {
    background-color: var(--firebrick);
}

nav {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li {
    font-size: 1.25em;
    font-weight: 400;
    font-family: var(--heading-font);
    background-color: var(--steel-blue);
    color: white;
    display: none;
}
.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: var(--almost-white);
}

.navigation a.active {
    color: white;
    background-color: var(--absolute-zero);
}

.navigation a:hover {
    color: white;
    background-color: var(--firebrick);
}

.visible nav {
    max-width: 32em;
}

.visible li {
    display: block;
}

/* end nav */



/* INDEX >> main */

#content {
	max-width: 100%;
	margin: auto;
	padding: .5em;
}

.title-stripe {
    background-color: var(--absolute-zero);
    height: auto;
    margin-top: -1.5em;
    border-radius: 0 0 10px 10px;
    margin-bottom: .5em;
}

.title-stripe h1 {
    padding: .5em 0 .5em .5em;
    color: white;
    font-size: 2em;
}

/* INDEX >> hero image */

.hero-section {
	margin: auto;
	padding: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
}

.hero-image {
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

/* cards */

.cards h2 {
    text-align: center;
    grid-column: 1/-1;
}

.cards {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
}

.cards section {
    background-color: var(--almost-white);

    text-align: center;
    width: 300px;
    padding: 0;
    margin: 0 auto;
}

.cards section .text-wrapper {
    margin: auto auto;
}

.cards section h3 {
    font-family: var(--title-font);
    padding: 1em;
}

.cards section h3,
.cards section p {
    color: var(--raisin-black);
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
}

.cards section h2 {
    padding: 10px;
    padding-top: 20px;
    font-weight: 400;
}

.cards section h3.motto {
    font-size: 13px;
    font-style: italic;
    font-family: var(--paragraph-font);
    font-weight: 400;
    margin-top: -10px;
    margin-bottom: 1em;
}

.cards section p {
    font-size: 16px;
}

.img-wrapper {
    height: 300px;
    margin: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards img {
    
    padding: 25px;
    max-width: 100%;
    width: 280px;
    padding: 0;
    margin: auto auto;
    margin-top: 20px;
}


/* INDEX >> cta */

div.cta {
    margin-top: 50px;
    margin-bottom: 50px;
}

.cta-card {
    color: var(--absolute-zero);
    text-align: center;
    padding: 15px;
    font-size: 25px;
    font-weight: 700;
}

.cta-card p {
    font-size: 25px;
}

.cta-card button {
    border-radius: 10px;
    background-color: var(--raisin-black);
    border-color: var(--steel-blue);
    color: var(--almost-white);
    font: var(--heading-font);
    
    padding: 15px;
    transition: .5s;
}

.cta-card button:hover {
    background-color: var(--firebrick);
    transition: .5s;
}

/* INDEX >> events and weather/

/* INDEX >> events */

.weather,
.events {
    text-align: center;
    background-color: var(--absolute-zero);
    margin: auto;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 35px;
}

.weather h2,
.weather p,
.events h2,
.events p {
    color: var(--almost-white);
}

.weather ul,
.events ul {
    padding-left: 0;
}

.weather li,
.events li {
    color: var(--almost-white);
    list-style-type: none;
    font-size: 1.2em;
}

/* INDEX >> weather */


.weather {
    margin: auto;
    background-color: var(--jet-black);
    
    color: var(--almost-white);
}


.wind-chill-message {
    color: var(--light-steel-blue);
    font-size: 12px;
    font-style: italic;
}


/* INDEX >> contact */



.contact {
    font-family: var(--paragraph-font);
    display: grid;
    margin: auto;
}

.contact h2 {
    text-align: center;
}

.contact ul {
    font-size: 1.25em;
    margin: 0;
    list-style: none;
}

.contact ul {
    text-align: center;
    margin-top: 30px;
}

.contact ul li:before {
    display: inline-block;
    margin-left: -1em;
    width: 1.5em;
    text-align: center;
}

.contact-address:before {
    color: var(--jet-black);
    font-family: 'FontAwesome';
    content: '\f3c5';
}

.contact-phone:before {
    content: '\260E';
}

.contact-email:before {
    content: "\2709";
}

.social-links {
    margin: auto;
    font-size: 5em;
    padding-top: .25em;
}

.contact a,
.contact a:visited {
    color: var(--raisin-black);
}

.contact a:hover {
    color: var(--firebrick);
}


/* FOOTER */

footer {
    background-color: var(--raisin-black);
    color: var(--almost-white);
    display: flex;
    margin-left: -10000px;
    margin-right: -10000px;
    margin-top: 1em;
    margin-bottom: -20px;
    padding-top: 0;
}

#footer-content {
    padding: 1em;
    margin: auto;
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr;
}

footer a,
footer a:visited {
    color: var(--almost-white);
}

footer a:hover {
    color: var(--firebrick);
}

.copyright {
    text-align: center;
}

/* footer contact icons*/





/* footer social links */
















/* ATTRIBUTION */

.attribution-cards {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    display: block;
}

.attribution-cards section {
    list-style-type: none;
    text-align: center;
    padding: 1em;
    color: white;
    background-color: var(--jet-black);
    border-radius: 10px;
    margin: 10px;
    display: grid;
}

.attribution-cards .wrapper {
    margin-top: 100px;
    margin: auto auto;
}

.attribution-cards h2,
.attribution-cards a,
.attribution-cards a:visited {
    color: white;
}

.attribution-cards a:hover {
    color: skyblue;
}


/* for really tiny screens */
@media only screen and (max-width: 479px) {

    /* footer */

    .contact-section {
        max-width: 100vw;
    }

    footer p {
        font-size: .9em;
    }

    footer h3 {
        font-size: 1.6em;
    }

    footer img {
        max-width: 95vw;
    }    

}

/* for super small screens */
@media only screen and (max-width: 379px) {
    
    /* index */
    .cards section {
        width: 280px;
    }

    .image-wrapper img {
        max-width: 280px;
    }

    /* stormcenter.html */

    fieldset {
        max-width: 250px;
    }

    .personal-info input,
    .personal-info select,
    .storm-info input,
    .storm-info select,
    .radio-selection,
    textarea {
        margin: auto;
        width: 200px;
        margin: 0 .25em;
        padding: .25em;;
    }

}


/* for super small screens */
@media only screen and (max-width: 319px) {
    /* index */

    .cards section {
        width: 250px;
    }

    .image-wrapper img {
        max-width: 250px;
    }

}

@media only screen and (max-width: 249px) {
    /* index */

    .cards section {
        width: 200px;
        font-size: .85em;
    }

    .image-wrapper img {
        max-width: 200px;
    }
}