/* Media Query for medium views */
@media only screen and (min-width: 640px) {
	#content {
        max-width: 840px;
		margin: auto;
    }

    #header-content {
		max-width: 840px;
		margin: auto;
    }

	#main-content {
		max-width: 840px;
		margin: auto;
    }
	
    #footer-content {
		max-width: 840px;
        display: grid;
    }

  /* GALLERY (medium) */

  .weather-images {
    grid-template-columns: 1fr 1fr;
  }

  

  /* end GALLERY */

.personal-info input,
.personal-info select,
.storm-info input,
.storm-info select,
.radio-selection,
textarea {
  width: 320px;

}



}