@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --mint-cream: #e7f0ed;
    --honeydew: #e7ffed;
    --light-slate-grey: #628ca6;
    --dark-sky-blue: #7fb9c2;

    --grey: #bbbbbb
}

html {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    background-color: white;
    transition: 1.5s;
}

footer {
    color: var(--light-slate-grey);
}

footer a,
footer a:visited {
    transition: 1s;
    color: var(--light-slate-grey);
}

footer a:hover {
    color: var(--dark-sky-blue);
    transition: 1s;
}

.content {
    margin: auto;
    max-width: 640px;
}

main {
    display: inline-block;
    text-align: center;
}

/* header */

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.25em;
    margin-top: -1em;
}

h1, h2 {
    color: var(--light-slate-grey)
}

/* main */

/* TABLE */

.table-container {
    background-color: white;
    margin: 1em;
}

table {
    box-shadow: 10px 10px 10px var(--light-slate-grey);
}

table, th, td {
    max-width: 480px;
    font-size: 1em;
    border: 1px solid var(--grey);
    border-collapse: collapse;
}

tr, td {
    height: 26px;
}

tr td {
    font-size: .9em;
}

thead tr:first-child th:first-child{
    padding: .5em;
    font-size: 1.5em;
    background-color: var(--dark-sky-blue);
    font-weight: 700;
}

thead tr:nth-child(2) th {
    background-color: var(--light-slate-grey);
    color: white;
    padding: .5em 1em;
}

tbody tr:first-child,
tbody tr:nth-child(3),
tbody tr:nth-child(5) {
    background-color: var(--mint-cream);
}

tbody tr:nth-child(2),
tbody tr:nth-child(4),
tbody tr:nth-child(6) {
    background-color: var(--honeydew);
}

#nov-sales-goal {
    background-color: var(--light-slate-grey);
    color: white;
}

.black-friday {
    font-style: italic;
}

tfoot {
    background-color: var(--dark-sky-blue);

}

tfoot tr td {
    font-size: .7em;
}


/* original */

.original {
    margin: auto;
    background-color: white;
    margin-top: 1em;
    color: var(--light-slate-grey);
    padding: 1em;
    border-radius: 1em;
    max-width: 360px;
    font-weight: 700;
}

img {
    max-width: 100%;
    margin-left: 10px;
    background-color: white;
    padding: .5em;
    border-radius: 2em;
}

/* footer */



/* responsive */

@media only screen and (min-width: 640px) {
    .table-container {
        padding: 7em;
        border-radius: 100em;
    }

    html {
        background-color: var(--light-slate-grey);
    }

    h1, h2 {
        color: var(--mint-cream);
    }

    /* footer big */

    footer {
        color: var(--mint-cream);
    }
    
    footer a,
    footer a:visited {
        color: white;
        transition: 1s;
    }
    
    footer a:hover {
        color: cyan;
        transition: 1s;
    }
}