/* Media Query for large views */
@media only screen and (min-width: 830px) {

	#content {
        max-width: 800px;
    }
    #header-content {
        max-width: 800px;
    }
    #footer-content {
        max-width: 800px;
        display: grid;
    }

	h1, h2, h3, h4, h5, h6 {
		font-family: var(--heading-font);
		color: var(--jet-black);
		font-weight: 400;
	}
	
	h2, h3, h4 {
		font-size: 1.75em;
		padding: .5em;
	}
	
	p {
		font-size: 1em;
		padding: .5em;
		margin: .5em;
	}

	/* nav */

	

	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}



	/* hero section */

	.hero-section {
        display: grid;
    }

	.weather-summary {
        position: absolute;
		margin-top: 15px;
		margin-left: 15px;
		width: 20em;
		height: 13em;

        padding:.25em;
		background-color: var(--jet-black);

        border: 10px;

		order: 1;
	}

    .hero-image {
        grid-column: 1/2;
        height: auto;
    }

	/* .forecast-section */

	.forecast-section {
		background-color: var(--celadon);
	}

	.forecast-icons-box img {
		display: flex;
	}
/*
	.hide-on-small-view {
		display: block;
	}*/

	/* forecast-section */

	#five-day-forecast-section {
		border-style: none;
	}

	.five-day-forecast-section-header {
		background-color: var(--celadon);
		text-align: left;
	}

	.five-day-forecast-section-header h3 {
		color: var(--jet-black);
	}

	.forecast-icons-box {
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		border-style: solid;
		border-radius: 10px;
		margin-bottom: .25em;
	}
	/*
	.forecast-icons-box img {
		padding: .5em;
		padding-left: 1.5em;
		padding-right: 1.5em;
	}*/

	.forecast-article-box {
		background-color: var(--viridian);
		border-radius: 10px;
		padding-bottom: .5em;
	}

	.forecast-article-section {
		margin-top: .25em
	}

	.article-paragraphs {
		display: block;
		font-size: 1.1em;
	}

	.article-paragraphs img {
		display: block;
		float: right;
		margin: 1em;
		max-width: 300px;

		border-radius: 10px;
		
		border: 2px solid var(--celadon);
		box-shadow: 4px 4px 4px var(--jet-black);
	}

	/* FOOTER */

	#footer-content {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.contact-section {
		padding: 1em;
		margin: 2em;
		margin-left: 2em;
		margin-top: -1em;
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		
		grid-column: 2/3;
		grid-row: 1/2;
		
	}

	#footer-map {
		padding: 1em;
		margin: 1em;
		grid-column: 1/2;
	}

	.social-links {
		display: flex;
		justify-content: space-evenly;
	}

	.social-links img {
		padding: .5em;
	}

	.copyright {
		grid-column: 1/3;
	}

	/* HIDE OR SHOW */

	.banner-break {
		display:none
	}

	/* SHOW on medium view */

	.footer-address {
		
		display: block;
	}

}