/* small / baseline */

@import url("https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu:wght@400;700&display=swap");

/* fonts for website plan */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Patua+One&family=Staatliches&display=swap');

body {
  background-color: #111111;
}

p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", Arial, sans-serif;
  color: #dddddd;
}

header {
  text-align: center;
}

h1 {
    font-family: "Ubuntu", "Open Sans", sans-serif;
    font-size: 5em;
  }
  

h2 {
    font-family: "Lato", Arial, sans-serif;
    font-size: 2.5em;
    margin-top: -.75em;
}

h2 {
    font-size: 2.25em;
  }

img {
  max-width: 100%;
}

#content {
  color: #eeeeee;
  max-width: 50em;
  margin: auto;
}

main {
  padding: 2em;
  background-color: #005580;
  border-radius: 5px;
}

a,
a:visited {
  transition: 1s;
  color: #eeeeee;
}

a:hover {
  transition: 1s;
  color:#57B8FF;
}

footer {
  display: block;
  text-align: center;
  padding: 3em;
}


/* header */

header {
    display: block;
}

nav {
    background-color: #3333FF;
    padding: 0px;
    font-weight: bold;
}

nav > ul > li {
    padding: 1em;
    list-style-type: none;
}

nav > ul > li > a,
nav > ul > li > a:visited {
    color: #bbbbbb;
}

nav > ul > li > a:hover{
    color: #ffffff;
}

nav > ul > li > a.current-page {
    color: #57B8FF;
}

nav > ul > li > a.current-page:hover {
    color: #ffffff;
}

/* footer */

#home-button {
    font-family: "Lato", sans-serif;
    padding: .5em;
    font-size: 1.25em;
    background-color:#eeeeee;
    color:#111111;
    text-align: center;
    border-radius: 15px;
    transition: 1s;
}

#home-button:hover {
    background-color: #57B8FF;
    transition: 1s;
}

/* index */

.domain-name {
    font-size: 1.25em;
    font-weight: bold;
    padding: .5em;
}

.domains-pic {
/*    max-width: 28em; */
    border-radius: 1em;
}

.proposed-logo {
    max-width: 24em;
    background-color: #222222;
    padding: 2em;
    border-radius: 1em;
}


/* color-scheme.html */



#color-boxes {
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-family: "Ubuntu", "Open Sans", sans-serif;
}

.colorbox {
    padding: 1em;
    margin: 5px;
    border-radius: 1em;
}

.viridian-green {
    background-color: #0AA0A8;
}

.celadon {
    color: #333333;
    background-color: #BEFFC7;
}

.turquoise-green {
    color: #333333;
    background-color: #A9D8B8;
}

.cambridge-blue {
    color: #333333;
    background-color: #A7C4B5;
}

.jet {
    background-color: #2F2D2E;
}

.hex-code {
    font-size: 1.5em;
}

.color-name {
    font-size: .8em;
    opacity: 80%;
}

/* target-audience.html */

.persona-photo {
    border-radius: 1em;
}

.attribution {
    opacity: 50%;
    font-size: .8em;
}

.persona h4 {
    font-size: 2.5em;
}


/* typography.html */

.font-box {
    background-color: #333333;
    color: white;
    padding: 1em;
    border-radius: 1em;
    margin: 1em;
}

h4 {
    font-size: 4em;
    padding: 0em;
    margin: 0em;
}

.font-staatliches {
    font-family: Staatliches;
    font-weight: 400;
}

.font-patua-one {
    font-family: 'Patua One', cursive;
    font-weight: 400;
}

.font-lato {
    font-family: Lato;
    font-weight: 400;
}

.font-desc {
    color: cyan;
    opacity: 50%;
    font-family: Ubuntu;
}

.font-desc {
    opacity: 50%;
}